# IDEs
.vscode/
.idea/
.continue/

# Secrets
.env
.envrc

# Builds
bin/

# Python
__pycache__/
*.egg-info/

# JS
node_modules

# Helm
install/charts/dir/charts/

# MacOS
.DS_Store

# Test output
e2e/tmp/*
agent_model.json

# Licensei
.licensei.cache

tmp/

# AI
.cursor/