# IDEs
.vscode/
.idea/
.continue/

# Secrets
.env
.envrc

# Builds
bin/

# Python
__pycache__/
*.egg-info

# JS
node_modules

# Helm
install/charts/dir/charts/
install/charts/dirctl/charts/

# MacOS
.DS_Store

# Test output
e2e/tmp/*

# Licensei
.licensei.cache

tmp/

# AI
.cursor/

# Go workspace files
go.work
go.work.sum
