# Copyright AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

name: Test

on:
  workflow_call:
    inputs:
      image_repo:
        required: true
        type: string
        description: 'Image repo to use.'
      image_tag:
        required: true
        type: string
        description: 'Image tag to use.'

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  unit:
    name: Unit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
        with:
          fetch-depth: 0

      - name: Setup Taskfile
        shell: bash
        run: sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d -b ~/.local/bin

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.5'
          check-latest: true
          cache-dependency-path: "**/*.sum"

      - name: Cache Go modules and build cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: go-test-${{ runner.os }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            go-test-${{ runner.os }}-
            go-${{ runner.os }}-

      - name: Run unit tests
        run: task test:unit:coverage:html

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: |
            coverage-api.out
            coverage-client.out
            coverage-server.out
            coverage-cli.out
          flags: per-module
          fail_ci_if_error: false
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload HTML reports as artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-html
          path: |
            coverage-*.html
            coverage-summary.txt
            coverage-*.func.txt
            coverage-*.out

      - name: PR Comment summary
        if: github.event_name == 'pull_request'
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          recreate: true
          path: coverage-summary.txt

  sdk:
    name: SDK
    uses: ./.github/workflows/reusable-test-sdk.yaml
    with:
      image_repo: ${{ inputs.image_repo }}
      image_tag: ${{ inputs.image_tag }}

  e2e:
    name: E2E
    uses: ./.github/workflows/reusable-test-e2e.yaml
    with:
      image_repo: ${{ inputs.image_repo }}
      image_tag: ${{ inputs.image_tag }}
